<!-- FILEPATH: /d:/devolping/Web/StockOverflow/view/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../assets/css/style.css" />
        <!-- BEGIN: fas-cdn -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <!-- END: fas-cdn -->
    </head>
    <body>
        <nav>
            <div class="navbar-container">
                <div class="logo"><a href="./index.html">Stack Overflow</a></div>
                <div class="nav-links">
                    <a href="#">Products</a>
                    <button type="button" id="toggletheme">Toggle Theme</button>
                </div>
                <div class="search-container">
                    <div class="search-container">
                        <input type="text" placeholder="Search..." class="search-bar" />
                    </div>
                </div>
                <div class="nav-links">
                    <a href="#"><i class="fas fa-trophy"></i></a>
                    <a href="#"><i class="fas fa-inbox"></i></a>
                    <a href="#"><i class="fas fa-user"></i></a>
                </div>
                
            </div>
        </nav>

        

        <script src="../assets/js/main.js"></script>
    </body>
</html>
