<!-- file path : view/login.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../assets/css/register.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="navbar-container">
        <div class="logo"><a href="./index.html">Stack Overflow</a></div>
        <div class="nav-links">
          <a href="#">About</a>
          <a href="#">Product</a>
          <a href="#">For Team</a>
        </div>
        <div class="search-container">
          <div class="search-container">
            <input type="text" placeholder="Search..." class="search-bar" />
          </div>
        </div>
        <div class="auth-container">
          <a class="navlogin-button" href="./login.html">Login</a>
          <a class="navsignup-button" href="./register.html">Sign Up</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="head">
        <div class="icon-container">
          <a href="#" class="btn-ggl">
            <i class="fa fa-google fi-google" aria-hidden="true"></i>Google
          </a>
          <a href="#" class="btn-gh">
            <i class="fa fa-github fi-github" aria-hidden="true"></i>GitHub
          </a>
          <a href="#" class="btn-fb">
            <i class="fa fa-facebook fi-facebook" aria-hidden="true"></i
            >Facebook
          </a>
        </div>
        <div class="or-container">
          <form action="localhost:3000/register" method="post">
            <div class="input-container">
              <label for="Name">Display Name</label>
              <input
                type="Name"
                placeholder="Enter your Name"
                name="text"
                id="dpName"
                required
              />
            </div>
            <div class="input-container">
              <label for="email">Email</label>
              <input
                type="email"
                placeholder="Enter your email"
                name="email"
                id="email"
                required
              />
            </div>
            <div class="input-container">
              <label for="password">Password</label>
              <input
                type="password"
                placeholder="Enter your password"
                name="password"
                id="password"
                required
              />
            </div>
            <!-- <div class="input-container">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" placeholder="Confirm your password" name="confirmPassword" id="confirmPassword" required>
          </div> -->

            <button type="submit" class="login-button">Register</button>

            <div class="link-container">
              <p>Already have a account? <a href="./login.html">LogIn</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../assets/js/register.js"></script>
  </body>
</html>
